src/alg/target/
src/alg/.vscode/
Cargo.lock
**/*.rs.bk

processed
results
data
paper/__latexindent_temp.tex
paper/main.bbl
paper/main.blg
src/alg/topology/

*.aux
*.fdb_latexmk
*.log
*.fls
*.synctex(busy)
*.synctex.gz
*.m~

paper/main.out
